<div id="menu">
  <div class="jumbotron">
    <img src="https://www.serebii.net/art/th/576.png" class="float-left">
    <h1 class="display-4">VGCStats</h1>
    <p class="lead">Aiming to record every Midseason Showdown, Regional, and National VGC tournament for further analysis. By <a href="https://twitter.com/profshroomish">@profshroomish</a></p> 

    <nav class="nav nav-fill main-nav">
      <a class="text-muted nav-item nav-link" href="https://vgcstats.com" exact>Stats</router-link>

      <a class="text-muted nav-item nav-link router-link-active" href="https://articles.vgcstats.com">Articles</a>

      <b-nav-item-dropdown class="text-muted nav-item-dropdown nav-link" text="Events">
        <a class="text-muted nav-item nav-link" href="https://vgcstats.com/#/pc">PC</a>
        <a class="text-muted nav-item nav-link" href="https://vgcstats.com/#/mss">MSS</a>
        <a class="text-muted nav-item nav-link" href="https://vgcstats.com/#/regs">Regs</a>
        <a class="text-muted nav-item nav-link" href="https://vgcstats.com/#/nats">Nats</a>
      </b-nav-item-dropdown>

      
      <b-nav-item-dropdown class="text-muted nav-item-dropdown nav-link" text="Other">
        <a class="text-muted nav-item nav-link" v-cloak href="https://2018.vgcstats.com">2018</a>
        <a class="text-muted nav-item nav-link" v-cloak href="https://worlds.vgcstats.com">Worlds</a>
      </b-nav-item-dropdown>
      <a class="text-info nav-item nav-link" href="https://www.patreon.com/vgcstats">Support us!</a>
    </nav>
  </div>
</div>